/* VideoPopup.css */
.video-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

.video-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.close-button-video {
  position: absolute;
  width: 40px;
  top: 5px;
  right: 150px;
  color: red;
  cursor: pointer;
  font-size: 1.2rem;
  z-index: 2;
}

.close-button-video:hover {
  /* background-color: rgba(255, 0, 0, 0.5); */
  transform: scale(1.05);
}


/* ///////// for media queries ///////// */ 

/* Extra Small Devices (Portrait and Landscape) */
@media only screen and (max-width: 319px) {
.video-popup {
  align-items: center;
}

.video-container {
  width: 99%;
  max-height: 99%;
}

.close-button-video {
  right: 1px;
  margin-top: -0.4rem;
  margin-right: 1rem;
  transform: scale(0.75);
}
}

/* Mobile Phones (Portrait and Landscape) */
@media only screen and (min-width: 320px) and (max-width: 374px) {
.video-popup {
  align-items: center;
}

.video-container {
  width: 99%;
  max-height: 99%;
}

.close-button-video {
  right: 1px;
  margin-top: -0.4rem;
  margin-right: 1rem;
  transform: scale(0.75);
}
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
.video-popup {
  align-items: center;
}

.video-container {
  width: 99%;
  max-height: 99%;
}

.close-button-video {
  right: 1px;
  margin-top: -0.4rem;
  margin-right: 1.1rem;
  transform: scale(0.75);
}
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
.video-popup {
  align-items: center;
}

.video-container {
  width: 99%;
  max-height: 99%;
}

.close-button-video {
  right: 1px;
  margin-top: -0.5rem;
  margin-right: 1.3rem;
  transform: scale(0.75);
}
}


/* Tablets Portrait */
@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
.video-popup {
  align-items: center;
}

.video-container {
  width: 99%;
  max-height: 99%;
}

.close-button-video {
  right: 1px;
  margin-top: -0.5rem;
  margin-right: 1.3rem;
  transform: scale(0.75);
}
}

/* Tablets Landscape */
@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
.video-popup {
  align-items: center;
}

.video-container {
  width: 99%;
  max-height: 99%;
}

.close-button-video {
  right: 1px;
  margin-top: -0.5rem;
  margin-right: 1.3rem;
  transform: scale(0.75);
}
}

/* Tablets and Small Desktops */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
.video-popup {
  align-items: center;
}

.video-container {
  width: 99%;
  max-height: 99%;
}

.close-button-video {
  right: 1px;
  margin-top: -0.3rem;
  margin-right: 2.7rem;
  transform: scale(0.85);
}
}

/* Large Screens (Desktops, Laptops) */
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
.video-popup {
  align-items: center;
}

.video-container {
  width: 99%;
  max-height: 99%;
}

.close-button-video {
  right: 1px;
  margin-top: -0.3rem;
  margin-right: 2.7rem;
  transform: scale(0.85);
}
}

@media only screen and (min-width: 1440px) and (max-width: 1919px) {
.video-popup {
  align-items: center;
}

.video-container {
  width: 99%;
  max-height: 99%;
}

.close-button-video {
  right: 1px;
  margin-top: -0.3rem;
  margin-right: 5.2rem;
  transform: scale(0.95);
}
}

/* Extra Large Screens (Desktops, TVs) */
@media only screen and (min-width: 1920px) {
.video-popup {
  align-items: center;
}

.video-container {
  width: 99%;
  max-height: 99%;
}


}
