.container-istatistik {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  margin-right: 1rem;
}

.left-column {
  width: 30%;
  margin-left: 0rem;
  transform: scale(1);
}

.right-column {
  width: 70%;
  margin-top: -10rem;
  min-width: 18rem;
  padding: 0 20px;
  margin-bottom: 4rem;
  transform: scale(1);

}

.istatistik-images{
  width: 640px;
}

.swiper-pagination .swiper-pagination-bullet {
  background-color: rgb(255, 136, 0)/* Change this color to your desired color */
}

/* .istatistik-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 35rem;
  max-height: auto;
  min-height: 16rem;
  margin:auto;

  background: rgba(255, 255, 255, 0.86);
  border: 7px solid var(--blueCard);
  border-radius: 20px;
  cursor: pointer;
 
  line-height: 1.4;
  object-fit: cover;
  white-space: normal;
  overflow: hidden;
  padding: 2vh;
  
}


.istatistik-card-text {
  text-align: center;
  font-size: 1rem;
} */

.swiper-button-prev-istatistik {
  display: flex;
  position: absolute;
  left: 0; 
  top: 50%; 
  margin-left: -4rem;
  transform: translateY(-50%) scaleX(-1); 
  cursor: pointer;
  z-index: 999;
}
.swiper-button-next-istatistik {
  display: flex;
  position: absolute;
  right: 0; 
  top: 50%; 
  margin-right: -4rem;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 999;
}


.swiper-button-prev-istatistik:hover,
.swiper-button-next-istatistik:hover {
  filter: brightness(1.1); /* Example of a hover effect, you can adjust as needed */
  transition: transform 0.3s ease; /* Adding transition for smooth animation */
}

/* ///////// for media queries ///////// */ 

/* Extra Small Devices (Portrait and Landscape) */
@media only screen and (max-width: 319px) {
  .container-istatistik {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    margin-left: 0rem;
    margin-top: -12rem;
  }


  .left-column {
    margin-top: -18rem;
    margin-left: -10rem;
    transform: scale(0.6);
   
  }
  .right-column {
    margin-top: -12rem;
    margin-left: 1rem;
    min-width: 18rem;
    transform: scale(0.8);
  }


  .istatistik-images{
    width: 340px;
  }

  .swiper-button-prev-istatistik{
    transform: translateY(-100%) scale(-0.5); 
    margin-left: -0.5rem;
  }

  .swiper-button-next-istatistik {
    transform: translateY(-100%) scale(0.5);
    margin-right: -0.5rem;
  }
}

/* Mobile Phones (Portrait and Landscape) */
@media only screen and (min-width: 320px) and (max-width: 374px) {
  .container-istatistik {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30rem;
    margin-left: 0rem;
    margin-top: -12rem;
  }


  .left-column {
    margin-top: -18rem;
    margin-left: -10rem;
    transform: scale(0.6);
   
  }
  .right-column {
    margin-top: -12rem;
    margin-left: 1rem;
    min-width: 18rem;
    transform: scale(0.8);
  }


  .istatistik-images{
    width: 340px;
  }

  .swiper-button-prev-istatistik{
    transform: translateY(-100%) scale(-0.5); 
    margin-left: -0.5rem;
  }

  .swiper-button-next-istatistik {
    transform: translateY(-100%) scale(0.5);
    margin-right: -0.5rem;
  }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
  .container-istatistik {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0rem;
    margin-top: -12rem;
  }


  .left-column {
    margin-top: -18rem;
    margin-left: -10rem;
    transform: scale(0.6);
   
  }
  .right-column {
    margin-top: -12rem;
    margin-left: 1rem;
    min-width: 21rem;
    transform: scale(0.8);
  }

  .istatistik-images{
    width: 400px;
  }

  .swiper-button-prev-istatistik{
    transform: translateY(-100%) scale(-0.6); 
    margin-left: -0.5rem;
  }

  .swiper-button-next-istatistik {
    transform: translateY(-100%) scale(0.6);
    margin-right: -0.5rem;
  }
 
}

@media only screen and (min-width: 425px) and (max-width: 767px) {
  .container-istatistik {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0rem;
    margin-top: -8rem;
  }

  .left-column {
    margin-top: -18rem;
    margin-left: -10rem;
    transform: scale(0.6);
  }

  .right-column {
    margin-top: -12rem;
    margin-left: 1rem;
    min-width: 21rem;
    transform: scale(0.8);
  }

  .istatistik-images{
    width: 440px;
  }

  .swiper-button-prev-istatistik{
    transform: translateY(-100%) scale(-0.6); 
    margin-left: -1.9rem;
  }

  .swiper-button-next-istatistik {
    transform: translateY(-100%) scale(0.6);
    margin-right: -1.9rem;
  }
 

 
}

/* Tablets Portrait */
@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
  .container-istatistik {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0rem;
    margin-top: -8rem;
  }

  .left-column {
    margin-top: -18rem;
    margin-left: -10rem;
    transform: scale(0.6);
  }
  
  .right-column {
    margin-top: -12rem;
    margin-left: 1rem;
    min-width: 21rem;
    transform: scale(0.8);
  }

  .istatistik-images{
    width: 440px;
  }

  .swiper-button-prev-istatistik{
    transform: translateY(-100%) scale(-0.6); 
    margin-left: -1.9rem;
  }

  .swiper-button-next-istatistik {
    transform: translateY(-100%) scale(0.6);
    margin-right: -1.9rem;
  }
 

  
}

/* Tablets Landscape */
@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  .container-istatistik {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0rem;
    margin-top: -8rem;
  }

  .left-column {
    margin-top: -18rem;
    margin-left: -10rem;
    transform: scale(0.6);
  }
  
  .right-column {
    margin-top: -12rem;
    margin-left: 1rem;
    min-width: 21rem;
    transform: scale(0.8);
  }

  .istatistik-images{
    width: 440px;
  }

  .swiper-button-prev-istatistik{
    transform: translateY(-100%) scale(-0.6); 
    margin-left: -1.9rem;
  }

  .swiper-button-next-istatistik {
    transform: translateY(-100%) scale(0.6);
    margin-right: -1.9rem;
  }
 

 
  
}

/* Tablets and Small Desktops */
@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .container-istatistik {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0rem;
    margin-top: 27rem;
  }

  .left-column {
    margin-top: -18rem;
    margin-left: -12.5rem;
    transform: scale(1);
  }
  
  .right-column {
    margin-top: -7rem;
    margin-left: 1rem;
    min-width: 32rem;
    transform: scale(1);
  }

  .istatistik-images{
    width: 640px;
  }

  .swiper-button-prev-istatistik{
    transform: translateY(-100%) scale(-1); 
    margin-left: -1.9rem;
  }

  .swiper-button-next-istatistik {
    transform: translateY(-100%) scale(1);
    margin-right: -1.9rem;
  }

 
}

/* Large Screens (Desktops, Laptops) */
@media only screen and (min-width: 1200px) and (max-width: 1439px) {
  .container-istatistik {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -21rem;
  }

  .left-column {
    margin-top: -8rem;
    margin-left: -2rem;
    transform: scale(0.9);
   
  }
  .right-column {
    margin-top: -5rem;
    margin-left: 5rem;
    min-width: 35rem;
    transform: scale(0.9);
  }

  .istatistik-images{
    width: 640px;
  }

  .swiper-button-prev-istatistik{
    transform: translateY(-100%) scale(-1); 
    margin-left: -1.9rem;
  }

  .swiper-button-next-istatistik {
    transform: translateY(-100%) scale(1);
    margin-right: -1.9rem;
  }

 
 
}

@media only screen and (min-width: 1440px) and (max-width: 1919px) {
  .container-istatistik {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -21rem;
  }

  .left-column {
    margin-top: -8rem;
    margin-left: -2rem;
    transform: scale(1);
   
  }
  .right-column {
    margin-top: -5rem;
    margin-left: 5rem;
    min-width: 35rem;
  }

  .istatistik-images{
    width: 640px;
  }

  .swiper-button-prev-istatistik{
    transform: translateY(-100%) scale(-1); 
    margin-left: 1rem;
  }

  .swiper-button-next-istatistik {
    transform: translateY(-100%) scale(1);
    margin-right: 1rem;
  }
}

/* Extra Large Screens (Desktops, TVs) */
@media only screen and (min-width: 1920px) {
  .container-istatistik {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: -1rem;
  }
  
  .left-column {
    margin-right: 0rem;
  }
  
  .right-column {
    margin-top: 2rem;
    max-width: 35rem;
    margin-right: 15rem;
  }

}

/* Extra Large Screens (Desktops, TVs) */
@media only screen and (min-width: 2200px) {
  .container-istatistik {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: -1rem;
    margin-left: -5rem;
  }
  
  .left-column {
    margin-left: -5rem;
  }
  
  .right-column {
    margin-top: 3rem;
    max-width: 35rem;
    margin-left: 15rem;
  }

}

